div{
    margin: 0;
    padding:20px;
}
h1{
    text-align: center;
    text-decoration:  wavy pink underline;
    letter-spacing: 6px;
    font-size: 50px;
}
h2{
    text-align: left;
    font-weight: normal;
    text-decoration:  purple overline;

}
h5{
    text-align: right;
    font-weight: 100;
    text-decoration: line-through;
}
p{
    text-align: justify;
    line-height: 2;
    
}
a{
    text-decoration: none;
}