#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    border: 2px solid black;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap;
    align-items: baseline; */
    align-content: flex-start;



}


h1{
    text-align: center;
    color:#E75480;
    text-shadow: 3px 8px 8px black
    
}


#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


.one{
    background-color: #9400d3;
}
.two{
    background-color: #4b0082;
}
.three{
    background-color: #0000ff;
    /* flex-basis: 400px; */
    /* flex-grow: 3;
    min-width: 400px; */
}
.four{
    background-color: #00ff00;
}
.five{
    background-color: #ffff00;
}
.six{
    background-color: #ff7f00;
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    flex-shrink: 1;

}
.seven{
    background-color: #ff0000;
}