h1{
    color: pink;
}
#greet{
    color: yellow;
}
.myclass{
    color: brown;
}

/* Qustion two */

div p{
    background-color: black;
}
.para{
    background-color: blue;
}
p{
    background-color: green;
}

/* Qustion Three */

.greetDiv{
    color: green;
}
div.greetDiv p.greet{
    color: brown;
}
.greetDiv .greet{
    color: red;
}