h1{
    padding: 50px;
    font-family: league-spartan;
    color: #ffa511;
    text-align: center;
    font-weight: 900;
    text-size-adjust: 55px;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: teal  double underline;
    text-transform: uppercase;

}