.container{
    width: 600px;
    height: 300px;
    background-color: palevioletred;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 200px 200px 200px ;
    row-gap: 10px;
    column-gap: 10px;
    
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}

.item{
    width: 100px;
    height: 50px;
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
}

.one{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/4; */
    place-self: start;

}
.two{
    /* grid-row-start: 1;
    grid-row-end: 3; */
}
