h1{
    background-color: pink;
    border: 2px solid black;
}

@media(width:400px){
    h1{
        background-color: red;
        color: white;
    }
}

@media(min-width: 500px) and (max-width:700px)
{
    h1{
        background-color: magenta;
    }
}

@media(orientation: landscape){
    h1{
        background-color: aqua;
        color: brown;
    }
}
    
