.face{
    width:500px;
    height:500px;
    background-color: orange;
    border-radius: 50%;
}
.mouth{
    width: 250px;
    height: 75px;
    background-color: rgba(255, 0, 0, 0.817);
    border-radius: 0 0 75px 75px;
    position: absolute;
    top: 350px;
    left:125px;
}
.right-eyes,.left-eyes{
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 125px;
    left: 125px;
}

.right-eyes{
    position: absolute;
    top: 125px;
    left: 300px;
}