div{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: aqua;
}

.one{
    background-color: pink;
    position: relative;
    z-index: 1;
}
.two{
    background-color: blueviolet;
    position: relative;
    bottom: 50px;
}

